<div id="sidebar" class="bg-purple">
  <div class="h4 text-white">Account</div>
  <ul>
    <li class="sidebar <%= title === 'Account' ? 'active' : '' %>">
      <a href="/account" class="text-decoration-none d-flex align-items-start">
        <div class="far fa-user pt-2 me-3"></div>
        <div class="d-flex flex-column">
          <div class="link">My Profile</div>
          <div class="link-desc">Change your profile details</div>
        </div>
      </a>
    </li>
    <li class="sidebar <%= title === 'Address' ? 'active' : '' %>">
      <a href="/address" class="text-decoration-none d-flex align-items-start">
        <div class="far fa-address-book pt-2 me-3"></div>
        <div class="d-flex flex-column">
          <div class="link">Address Book</div>
          <div class="link-desc">View & Manage Addresses</div>
        </div>
      </a>
    </li>
    <li class="sidebar <%= title === 'Orders' ? 'active' : '' %>">
      <a href="/orders" class="text-decoration-none d-flex align-items-start">
        <div class="fas fa-box-open pt-2 me-3"></div>
        <div class="d-flex flex-column">
          <div class="link">My Orders</div>
          <div class="link-desc">View & Manage orders and returns</div>
        </div>
      </a>
    </li>
    
    <li class="sidebar <%= title === 'Settings' ? 'active' : '' %>">
      <a href="/settings" class="text-decoration-none d-flex align-items-start">
        <div class="fas fa-gear pt-2 me-3"></div>
        <div class="d-flex flex-column">
          <div class="link">Settings</div>
          <div class="link-desc">Manage account & Change your password</div>
        </div>
      </a>
      
    </li>

    <li class="sidebar ">
      <a href="/user-logout" class="text-decoration-none d-flex align-items-start">
        <div class="fas fa-right-from-bracket pt-2 me-3"></div>
        <div class="d-flex flex-column">
          <div class="link">Logout</div>
          <div class="link-desc">Logout from your account</div>
        </div>
      </a>
      
    </li>

  </ul>
</div>


<script>
  let navItems = document.querySelectorAll(".sidebar");
  navItems.forEach(navItem => {
  navItem.addEventListener("click", e => {
    navItems.forEach(item => item.classList.remove("active"));
    navItem.classList.add("active");
  });
});
</script>