 

<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-2">
  <div class="container">
    <a class="navbar-brand  order-lg-0" href="/"><h1 style="color: rgb(255, 255, 255);">B-MART</h1></a>
  
    <div class="order-lg-2">
      <button type="button" class="btn position-relative">
       <a href="/cart"> <i class="fa fa-shopping-cart" style="color: white;"></i></a>
       
         
      </button>
      <button type="button" class="btn position-relative">
        <a href="/wishlist"> <i class="fa fa-heart" style="color: white;"></i></a>
      </button>
      
    </div>
    
  <button class="hamburger-menu navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class=" collapse navbar-collapse order-lg-1" id="navMenu">
    <ul class="menu-content navbar-nav mx-auto text-center">
  <li class="nav-item px-2 py-2">
    <a class="nav-link" href="/">HOME</a>
  </li>
  <li class="nav-item px-2 py-2">
    
    <a class="nav-link" href="/categories?page=1">SHOP</a>
  </li>
  
    <li class="nav-item px-2 py-2 dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        ACCOUNT
      </a>
      <ul class="dropdown-menu dropdown-menu-dark bg-dark" aria-labelledby="navbarDarkDropdownMenuLink">

       
        <% if(user) {  %>
        <li><a class="dropdown-item text-center" href="/account">My Account</a></li>
        <li><a class="dropdown-item text-center" href="/user-logout">Logout</a></li>
        <% } else { %>
          <li><a class="dropdown-item text-center" href="/user-signin">Login</a></li>
          <li><a class="dropdown-item text-center" href="/user-registration">Register</a></li>
        
       <% } %>
       
         
      </ul>
     
  </li>
  <li class="nav-item px-2 py-2 border-0">
    <a class="nav-link" href="/contact-us">CONTACT</a>
  </li>
    </ul>
  </div>
  </div>
   </nav>


   <script>
    $(document).ready(function(){
  var menuOpen = false;
  
  $('.hamburger-menu').click(function(){
    if(menuOpen){
      $('.menu-content').slideUp();
      menuOpen = false;
    } else {
      $('.menu-content').slideDown();
      menuOpen = true;
    }
  });
});
   </script>