
 
<!-- 
<div class="face">
	<div class="band">
		<div class="red"></div>
		<div class="white"></div>
		<div class="blue"></div>
	</div>
	<div class="eyes"></div>
	<div class="dimples"></div>
	<div class="mouth"></div>
</div>

<div >
	<h1 class="text-center text-danger">Oops! Something went wrong!</h1>
	<div class="btn btn-dark"><a href="/" class="text-white">Return to Home</a></div>	
</div> -->




	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>Oops!</h1>
				<h2>404 - The Page can't be found</h2>
			</div>
			<a href="/">Go TO Homepage</a>
		</div>
	</div>




