<%- include('../partials/user_header') %>

  <section class="head bg-dark" style="padding-top: 30px;">
    <div class="container p-5">
      <div class="head-banner d-flex flex-wrap align-items-center justify-content-end">
        <div class="col-first">
          <h2 style="color: white;">Contact Us</h2>
          <nav class="d-flex align-items-center">
            <a href="/account">Home &#8594</span></a>
            <a href="/account">Contact Us</a>
          </nav>
        </div>
      </div>
  </section>


	<section class="contact">
		<div class="content">
			<h2>Contact Us</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus dignissimos facilis adipisci sapiente quam expedita nulla labore aliquam eum. Minus optio esse id obcaecati enim iure ducimus laboriosam neque numquam.</p>

		</div>
		<div class="container" id="contactCont">
			<div class="contactInfo">
				<div class="box">
					<div class="icon"><i class="fa fa-map-marker text-white" aria-hidden="true"></i></div>
					<div class="text">
						<h3>Address</h3>
						<p>Abcd,Abc Road,Abc District,Abc State,Abc Pin</p>
					</div>
				</div>
				<div class="box">
					<div class="icon"><i class="fa fa-phone text-white" aria-hidden="true"></i></div>
					<div class="text">
						<h3>Phone</h3>
						<p>Abcd,Abc Road,Abc District,Abc State,Abc Pin</p>
					</div>
				</div>
				<div class="box">
					<div class="icon"><i class="fa fa-envelope-o text-white" aria-hidden="true"></i></div>
					<div class="text">
						<h3>Email</h3>
						<p>bmartlaps@outlook.com</p>
					</div>
				</div>
			</div>
			<div class="contactForm">
				<form action="">
					<h2>Send Message</h2>
					<div class="inputBox">
						<input type="text" name="" required>
						<span>Full Name</span>
					</div>
					<div class="inputBox">
						<input type="text" name="" required>
						<span>Email</span>
					</div>
					<div class="inputBox">
						<input type="text" name="" required>
						<span>Type your Message...</span>
					</div>
					<div class="inputBox">
						<input type="submit" name="" value="Send">
					</div>
				</form>
			</div>
		</div>

	</section>
   


  

  <%- include('../partials/user_footer') %>