
<div class="p-4" style="display: flex; justify-content: center;">
    <% if (message) { %>
        <div class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
          <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
          <strong><%= message.message %> </strong>
        </div> 
        <% } %>
</div>

<section class="mt-1" style="display: flex; justify-content: center;  ">
    <div class="card text-center" style="width: 300px;">
        <div class="card-header h5 text-white bg-primary">Password Reset</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
                Enter your email address and we'll send you an email to reset your password.
            </p>
            
            <form action="/forgot-password" method="post">
                <input type="email"   name="email" placeholder="Enter email" class="form-control my-3" required>
                 
              <button type="submit"   class="btn btn-primary w-100"  >Reset password</button>
                
              </form>
            <div class="  mt-4">

               <p>Already have account? <a class="text-center" href="/user-signin">Login</a></p> 
                
            </div>
        </div>
    </div>
</section>
 