
<!-- 
 <section class="head bg-dark" style="padding-top: 80px;">
   <div class="container p-5">
     <div class="head-banner d-flex flex-wrap align-items-center justify-content-end">
       <div class="col-first">
         <h2 style="color: white;">Register here</h2>
         <nav class="d-flex align-items-center">
           <a href="index.html" >Account &#8594</span></a>
           <a href="login.ejs" >Register</a>
         </nav>
     </div>
   </div>
 </section> -->

 <!--================Login Box Area =================-->
 <section class="register py-5 bg-light">
   <div class="container">
    <% if (message) { %>
      <div class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
        <strong><%= message.message %> </strong>
      </div> 
      <% } %>
     <div class="row g-0" id="reg-row">
       
       <div class="col-lg-6 text-center py-5">
         <h2>REGISTER NOW</h2>
 
         <form action="/otp" method="post" name="signupForm" onsubmit="return validateForm()">
           <div class="form-row  pt-5">
             <div class="offset-1 col-lg-10" id="inputElements">
 <input type="text" name="name" class="inp" placeholder=" Enter your name"  >
             </div>
           </div>
           <div class="form-row pt-3">
             <div class="offset-1 col-lg-10" id="inputElements">
 <input type="text" name="email" class="inp" placeholder=" Enter your email" >
             </div>
           </div>
           <div class="form-row  pt-3">
            <div class="offset-1 col-lg-10" id="inputElements">
<input type="tel" name="phone" class="inp" placeholder=" Enter your phone number"  >
            </div>
          </div>
          <div class="form-row pt-3">
            <div class="offset-1 col-lg-10" id="inputElements">
<input type="password" name="password" class="inp" placeholder=" Enter your password"  >
            </div>
          </div>
          <div class="alert-text signup__alert">
            <span class="help__text">At least 8 character</span>
          </div>
           <div class="form-row pt-4 pb-4">
             <div class="offset-1 col-lg-10">
  <button type="submit" class="btn1">SIGNUP</button>
             </div>
           </div>
         </form>
         <p  class="pt-3">Already have account?<a href="/user-signin">Login</a></p>
       </div>
       <div class="regpage-image col-lg-6">
        <img src="images/register image1.jpg" class="img-fluid" alt="register_background">
        <div class="centered2">
          <h2>WELCOME TO THE
            WORLD OF 
            LAPTOPS
          </h2>
           
        </div>
      </div>
     </div>
   </div>
  </section>
 
  

  <script>
    function validateForm() {
  var name = document.forms["signupForm"]["name"].value;
  var email = document.forms["signupForm"]["email"].value;
  var phone = document.forms["signupForm"]["phone"].value;
  var password = document.forms["signupForm"]["password"].value;
  
  // Validate name
  if (name == "") {
    Swal.fire('Enter a name')
    return false;
  }

  // Validate email
  if (!/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email)) {
    
    Swal.fire('Invalid email address')
    return false;
  }

  // Validate phone number
  if (!/^\d{10}$/.test(phone)) {
    
    Swal.fire('Invalid phone number')
    return false;
  }

  // Validate password
  if (password.length < 8) {
    
    Swal.fire('Password must be at least 8 characters long')
    return false;
  }

  return true;
}

  </script>