 <!-- 
  <section id="category" class="category py-3">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-white text-center bg-transparent   border-0">
            <div class="card-body">
              <img src="images/e1_1_acer-aspire 3 A315.jpg"  class="image-fluid" >
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-white text-center bg-transparent   border-0">
            <div class="card-body">
              <img src="images/e1_1_acer-aspire 3 A315.jpg" class="image-fluid"   >
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-white text-center bg-transparent   border-0">
            <div class="card-body">
              <img src="images/e1_1_acer-aspire 3 A315.jpg" class="image-fluid"   >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <section class="head bg-transparent">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <p>hasu</p>
          <img src="images/e1_1_acer-aspire 3 A315.jpg" class="img-fluid"
            style="border: 1px solid rgb(0, 0, 0); border-radius: 10px;" alt="homeimg">
        </div>
        <div class="col-lg-4">
          <p>hasu</p>
          <img src="images/e1_1_acer-aspire 3 A315.jpg" class="img-fluid"
            style="border: 1px solid rgb(0, 0, 0); border-radius: 10px;" alt="homeimg">
        </div>
        <div class="col-lg-4">
          <p>hasu</p>
          <img src="images/e1_1_acer-aspire 3 A315.jpg" class="img-fluid"
            style="border: 1px solid rgb(0, 0, 0); border-radius: 10px;" alt="homeimg">
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-3">
        <div class="card" style="width: 18rem; border: none;">
          <img src="images/g1_1_asus-tuf-f15-fx506lhb.jpg" class="card-img-top" alt="...">
          <!-- <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div> -->
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem; border: none;">
          <img src="images/g1_1_asus-tuf-f15-fx506lhb.jpg" class="card-img-top" alt="...">
          <!-- <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div> -->
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem; border: none;">
          <img src="images/g1_1_asus-tuf-f15-fx506lhb.jpg" class="card-img-top" alt="...">
          <!-- <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div> -->
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem; border: none;">
          <img src="images/g1_1_asus-tuf-f15-fx506lhb.jpg" class="card-img-top" alt="...">
          <!-- <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div> -->
        </div>
      </div>
      </div>
    </div>
  </section>

  <section id="homeCat">
    <div class="container-fluid">
      <div class="row">
        <div class="one col-lg-4 col-md-12 col-12 p-0">
          <img class="img-fluid" src="images/e1_1_acer-aspire 3 A315.jpg">
          <div class="details">
            <h2>Gaming Laptops</h2>
            <button class="text-uppercase">shop now</button>
          </div>
        </div>
        <div class="one col-lg-4 col-md-12 col-12 p-0">
          <img class="img-fluid" src="images/e1_1_acer-aspire 3 A315.jpg">
          <div class="details">
            <h2>Gaming Laptops</h2>
            <button class="text-uppercase">shop now</button>
          </div>
        </div>
        <div class="one col-lg-4 col-md-12 col-12 p-0">
          <img class="img-fluid" src="images/e1_1_acer-aspire 3 A315.jpg">
          <div class="details">
            <h2>Gaming Laptops</h2>
            <button class="text-uppercase">shop now</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container" id="homepros">
      <h2 class="text-center">LATEST PRODUCTS</h2>
      <div class="row mt-5">
        <div class="col-md-3">
          <div class="product-top">
            <img src="images/e1_1s_acer-aspire 3 A315.jpg">
            <div class="overlay">
              <button type="button" class="btn btn-secondary" title="view"><i class="fa fa-eye"></i> </button>
              <button type="button" class="btn btn-secondary" title="Add to wish list"><i class="fa fa-heart"></i> </button>
              <button type="button" class="btn btn-secondary" title="buy"><i class="fa fa-shopping-cart"></i> </button>
            </div>
          </div>
          <div class="product-bottom text-center">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <h3>Lap lap ap ap aaap aaaap</h3>
            <h5>$4000.00</h5>
          </div>
        </div>
        <div class="col-md-3">
          <div class="product-top">
            <img src="images/e1_1s_acer-aspire 3 A315.jpg">
            <div class="overlay">
              <button type="button" class="btn btn-secondary" title="view"><i class="fa fa-eye"></i> </button>
              <button type="button" class="btn btn-secondary" title="Add to wish list"><i class="fa fa-heart"></i> </button>
              <button type="button" class="btn btn-secondary" title="buy"><i class="fa fa-shopping-cart"></i> </button>
            </div>
          </div>
          <div class="product-bottom text-center">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <h3>Lap lap ap ap aaap aaaap</h3>
            <h5>$4000.00</h5>
          </div>
        </div>
        <div class="col-md-3">
          <div class="product-top">
            <img src="images/e1_1s_acer-aspire 3 A315.jpg">
            <div class="overlay">
              <button type="button" class="btn btn-secondary" title="view"><i class="fa fa-eye"></i> </button>
              <button type="button" class="btn btn-secondary" title="Add to wish list"><i class="fa fa-heart"></i> </button>
              <button type="button" class="btn btn-secondary" title="buy"><i class="fa fa-shopping-cart"></i> </button>
            </div>
          </div>
          <div class="product-bottom text-center">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <h3>Lap lap ap ap aaap aaaap</h3>
            <h5>$4000.00</h5>
          </div>
        </div>
        <div class="col-md-3">
          <div class="product-top">
            <img src="images/e1_1s_acer-aspire 3 A315.jpg">
            <div class="overlay">
              <button type="button" class="btn btn-secondary" title="view"><i class="fa fa-eye"></i> </button>
              <button type="button" class="btn btn-secondary" title="Add to wish list"><i class="fa fa-heart"></i> </button>
              <button type="button" class="btn btn-secondary" title="buy"><i class="fa fa-shopping-cart"></i> </button>
            </div>
          </div>
          <div class="product-bottom text-center ">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <h3>Lap lap ap ap aaap aaaap</h3>
            <h5>$4000.00</h5>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- <section>
    <div class="productsone">
      <div class="container">
        <h1>LATEST PRODUCTS</h1>
        <div class="products-items">
          <div class="product">
            <div class="product-content">
              <div class="product-img">
                <img src="images/gaming-fococlipping-standard.png">
              </div>
              <div class="product-btns">
                <button type="button" class="btn-cart">Add to cart<span></span> <i class="fas fa-plus"></i></button>
                <button type="button" class="btn-buy">Buy now<span></span> <i class="fas fa-shopping-cart"></i></button>
                <button type="button" class="btn-wish">Add to Wishlist<span></span> <i class="fas fa-heart"></i></button>
              </div>
            </div>
            <div class="product-info text-center">
              <div class="product-info-top">
                 <div class="rating">
                  <span><i class="fas fa-star" ></i></span> 
                  <span><i class="fas fa-star" ></i></span> 
                  <span><i class="fas fa-star" ></i></span> 
                  <span><i class="fas fa-star" ></i></span> 
                  <span><i class="fas fa-star" ></i></span> 
                 </div>
              </div>
              <a href="" class="product-name" >Lap lap alapfojsdfjsdsfjsdsfsfjs</a>
              <p class="product-price">$400.00</p>
              <p class="product-price">$500.00</p>
            </div>
          </div>
        </div>
        <div class="products-items">
          <div class="product">
            <div class="product-content">
              <div class="product-img">
                <img src="images/gaming-fococlipping-standard.png">
              </div>
              <div class="product-btns">
                <button type="button" class="btn-cart">Add to cart<span></span> <i class="fas fa-plus"></i></button>
                <button type="button" class="btn-buy">Buy now<span></span> <i class="fas fa-shopping-cart"></i></button>
                <button type="button" class="btn-wish">Add to Wishlist<span></span> <i class="fas fa-heart"></i></button>
              </div>
            </div>
            <div class="product-info text-center">
              <div class="product-info-top">
                 <div class="rating">
                  <span><i class="fas fa-star" ></i></span> 
                  <span><i class="fas fa-star" ></i></span> 
                  <span><i class="fas fa-star" ></i></span> 
                  <span><i class="fas fa-star" ></i></span> 
                  <span><i class="fas fa-star" ></i></span> 
                 </div>
              </div>
              <a href="" class="product-name" >Lap lap alapfojsdfjsdsfjsdsfsfjs</a>
              <p class="product-price">$400.00</p>
              <p class="product-price">$500.00</p>
            </div>
          </div>
        </div>
        <div class="products-items">
          <div class="product">
            <div class="product-content">
              <div class="product-img">
                <img src="images/gaming-fococlipping-standard.png">
              </div>
              <div class="product-btns">
                <button type="button" class="btn-cart">Add to cart<span></span> <i class="fas fa-plus"></i></button>
                <button type="button" class="btn-buy">Buy now<span></span> <i class="fas fa-shopping-cart"></i></button>
                <button type="button" class="btn-wish">Add to Wishlist<span></span> <i class="fas fa-heart"></i></button>
              </div>
            </div>
            <div class="product-info text-center">
              <div class="product-info-top">
                 <div class="rating">
                  <span><i class="fas fa-star" ></i></span> 
                  <span><i class="fas fa-star" ></i></span> 
                  <span><i class="fas fa-star" ></i></span> 
                  <span><i class="fas fa-star" ></i></span> 
                  <span><i class="fas fa-star" ></i></span> 
                 </div>
              </div>
              <a href="" class="product-name" >Lap lap alapfojsdfjsdsfjsdsfsfjs</a>
              <p class="product-price">$400.00</p>
              <p class="product-price">$500.00</p>
            </div>
          </div>
        </div>
        <div class="products-items">
          <div class="product">
            <div class="product-content">
              <div class="product-img">
                <img src="images/gaming-fococlipping-standard.png">
              </div>
              <div class="product-btns">
                <button type="button" class="btn-cart">Add to cart<span></span> <i class="fas fa-plus"></i></button>
                <button type="button" class="btn-buy">Buy now<span></span> <i class="fas fa-shopping-cart"></i></button>
                <button type="button" class="btn-wish">Add to Wishlist<span></span> <i class="fas fa-heart"></i></button>
              </div>
            </div>
            <div class="product-info text-center">
              <div class="product-info-top">
                 <div class="rating">
                  <span><i class="fas fa-star" ></i></span> 
                  <span><i class="fas fa-star" ></i></span> 
                  <span><i class="fas fa-star" ></i></span> 
                  <span><i class="fas fa-star" ></i></span> 
                  <span><i class="fas fa-star" ></i></span> 
                 </div>
              </div>
              <a href="" class="product-name" >Lap lap alapfojsdfjsdsfjsdsfsfjs</a>
              <p class="product-price">$400.00</p>
              <p class="product-price">$500.00</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
<div class="pro-img">
<img src="images/e1_1s_acer-aspire 3 A315.jpg">
</div>
<div class="pro-details">
<p>sdfjsdfjsd;f</p>
<p>34324324</p>
<p>432423423</p>
</div>
        </div>
        <div class="col-lg-3">
          <div class="pro-img">
            <img src="images/e1_1s_acer-aspire 3 A315.jpg">
            </div>
            <div class="pro-details">
            <p>sdfjsdfjsd;f</p>
            <p>34324324</p>
            <p>432423423</p>
            </div>
        </div>
        <div class="col-lg-3">
          <div class="pro-img">
            <img src="images/e1_1s_acer-aspire 3 A315.jpg">
            </div>
            <div class="pro-details">
            <p>sdfjsdfjsd;f</p>
            <p>34324324</p>
            <p>432423423</p>
            </div>
        </div>
        <div class="col-lg-3">
          <div class="pro-img">
            <img src="images/e1_1s_acer-aspire 3 A315.jpg">
            </div>
            <div class="pro-details">
            <p>sdfjsdfjsd;f</p>
            <p>34324324</p>
            <p>432423423</p>
            </div>
        </div>
      </div>
    </div>
  </section>